	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
   
  .node text {
    font-size:10px; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

/* Result Drawer */
.dendroPanelTitle {
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
}

.dendroPanelContent {
	height: 180px;
	float: left;
  margin-left: 15px;
}

.nodedetailsli {
    padding: 5px;
    font-size: 19px;
    font-weight: bold;
}

#subTitle2 {
	font-size: 19px;
    position: absolute;
    right: 10px;
    width: 602px;
    height: 20px;
    margin-top: 10px;
}

#subTitle {
	font-size: 19px;
    height: 20px;
    width: 602px;
    position: absolute;
    left: 95px;
    margin-top: 10px;
}

#dendroListLeft {
	position: absolute;
    width: 600px;
    height: 245px;
    margin-top: 35px;
    overflow: auto;
    border: solid 1px black;
    left: 95px;
}

#dendroListRight {
	position: absolute;
    width: 602px;
    height: 245px;
    border: 1px solid black;
    right: 10px;
    margin-top: 35px;
}

  #footerSlideContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 82%;
}

#footerSlideButton {
    background: url(../images/sliderButton.png) top left no-repeat #93C178;
    background-size: 50px 50px;
    position: absolute;
    top: -50px;
    right: 67px;
    width: 180px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 28px;
}

#footerSlideContent {
    width: 100%;
    margin: 0 auto;
    background: #93C178;
    color: #CCCCCC;
    font-size: 0.8em;
    border: none;
    font-family: DejaVuSansBook, Sans-Serif;
}

#sliderButtonText {
	text-align: right;
    margin-right: 31px;
    margin-top: 10px;
}

#footerSlideText {
	padding: 15px 10px 25px 25px;
}
	/* End Result Drawer */

.red {
  color: red;
}

.green {
  color: green;
}