.dragable 
{
    position: absolute;
    z-index: 10;
    background-color: #f1f1f1;
    border: 0px solid #d3d3d3;
    text-align: center;
}

.dragableHeader 
{
    padding: 10px;
    cursor: move;
    z-index: 11;
    background-color: #009A44;
    color: #fff;
}