/* The side navigation menu */
#result{
  padding-left: 5px;
}
.btnDownload {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btnDownload:hover {
  background-color: RoyalBlue;
}
.boxelement{
  border-style: solid;
  border-color: coral;

}
#menu-content-wrapper {
    /*color: #ffffff;*/
    text-align: left
    padding-top: 1.5%;
}

.sidenav 
{
    height: calc(100% - 3px);
    /*width: 35%;*/
    /*position: fixed;*/
    float: left;
    z-index: 2;
    background-color: #93C178;
    overflow-x: hidden;
    transition: 0.5s; 
    border-bottom: 3px solid black;
    border-right: 3px solid black;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
 
/* Side Menu Header */
#menuHeader {
    /*width: 340px;*/
}

.menuHamburger {
    position: fixed;
    float: left;
    background-color: white;
    z-index: 2;
    height: 57px;
    width: 60px;
    left: 0px;
    border-bottom: 3px solid black;
    padding: 5px 0 0 12px;
}

#hamburgerImage {
    vertical-align: middle;
    height: 80%;
    width: 80%;
}

.menuTitle {
    /*width: 35%;*/
    height: 57px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    font-family: Trebuchet MS;
    letter-spacing: 5px;
    /*left: 60px;*/
    top: 0;
    /*position: fixed;*/
    z-index: 200;
    background: white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
/* Side Menu Header END */

/* Add sequences section */
#inputSection {
    width: 100%;
    height: 80px;
    border-bottom: 3px solid black;
    padding-top: 55px;
    background: white;
}

#addSequenceimage {
    margin: 10px 0 0 45px;
    width: 60px;
    height: 60px;
    float: left;
    cursor: pointer; 
    cursor: hand;
}

  #errorMessages{
	font-size: 14px;
	color: #cc0000;
	display: none;
	height: 50px;
    width: 78%;
    margin: 10px auto;
	font-weight: bold;
  }
  
#addSequenceTitle {
    font-size: 25px;
    color: black;
    height: 80px;
    line-height: 80px;
    cursor: pointer; 
    cursor: hand;
    min-width: 343px;
}
/* Add sequences section END */

/* Side Menu RNA List */
.rnaUnselected, .rnaSelected {
    padding: 3px;
    margin: 2px;
    font-weight: bold;
    width: 200px;
    color: black;
    font-size: 18px;
    min-width: 150px;
    margin-left: 5px;
}

.rnaUnselected
{
    border: 1px solid darkslategrey;
	border-radius: 40px;
    cursor: pointer; 
    cursor: hand;
	margin: 2px auto;
}

.rnaSelected {
    background: #7db500;
    cursor: pointer; 
    cursor: hand;
	margin: 2px 82px;
}

/* .tools_form li{
    padding:12px;
	border-bottom:1px solid rgb(162, 246, 170);
	position:relative;

}

.tools_form li:first-child, .formulaire li:last-child {
	border-bottom:1px solid rgb(23, 128, 34);
} */
.formulaire {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.formulaire td {
    border-bottom:1px solid rgb(23, 128, 34);
    text-align: left;
}

.formulaire tr:nth-child(even) {
    border-bottom:1px solid rgb(23, 128, 34);
}

.formulaire tr{
	padding:12px;
	border-bottom:1px solid rgb(23, 128, 34);
	position:relative;
}


#RNAListTitle {
    font-size: 25px;
    color: black;
    margin-top: 20px;
    min-width: 343px;
}
/* Side Menu RNA List END */

/* Side Menu draw Options */
#analThresh {
    margin-bottom: 20px;
}

.sidemenuSubTitle{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    min-width: 343px;
}

.dropdownSide {
    width: 120px;
}

#drawButton, #deleteButton, #clearButton, #selectButton, #unselectButton {
    margin-top: 20px;
}

#drawRadio {
	margin: auto;

}

#drawButton {
	width: 250px;
    height: 45px;
    line-height: 45px;
	font-size: 18px;
    font-weight: bold;
}

 #addSequenceBtn {
	width: 100px;
    height: 30px;
    /* line-height: 20px; */
	font-size: 12px;
    font-weight: bold;
} 

#analysisTypeDropdownFirst {
    margin-top: 45px;
}

#analysisTypeDropdownSecond {
    margin: 40px 0 25px 0;
}

#menuSectionSeparator {
    width: auto;
    border: 2px solid black;
}

#rnaList ul {
	border: 1px solid #008000;
    overflow: auto;
    height: 100px;
    width: 500px;
    margin: auto;
}

.abovebottom {
    border-top-style: double;
    border-bottom-style: double;
    border-top-color: black;
    border-bottom-color: black;
    border-top-width: 8px;
    border-bottom-width: 8px;
    margin-top: 5px;
}

#formBranchSupport{
    margin-left: 5%
}

label[for="nameAnalysis"]{
    margin-left: 5%;
    float : left;
    color:black;
}

label[for="youremail"]{
    margin-left: 5%;
    float : left;
    color:black;
}

label[for="confirmemail"]{
    margin-left: 5%;
    float : left;
    color:black;
}

label[for="comment"]{
    margin-left: 5%;
    float : left;
    color:black;
}

#email{
    margin-left: 20%;
    float : left;
    color:black;
}

#drawEmail{
    margin-left: 9%;
    float : left;
    color:black;
}

#nameAnalysis{
    margin-left: 5%;
    float : left;
    color:black;
}

#addSequence {
    margin-top: 80px;
}
/* Side Menu draw Options END*/

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #e9e9e9;
	opacity: 0.8;
	display: none;
}

#loaderGif {
	height: 90px;
    width: 90px;
    position: absolute;
    top: 410px;
    left: 150px;
}

.select-hidden {
  display: none;

  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  /* color: $select-color;
  width: $select-width;
  height: $select-height; */
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 15px;
  /*background-color: $select-background;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;*/
  }
  /*&:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
*/

.select-options {
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
 /* background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: $select-background;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }*/
  }

  
  
 
