.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

.subTitleLeft{
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 5px;
}