#mainTitle {
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 0px 0 0px 0;
    font-family: Trebuchet MS;
    letter-spacing: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #009A44;
    overflow: hidden;
    width: 50%;
    margin: 0 25%;
}

/* Style the links inside the navigation bar */
.topnav a {
    width: 25%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#leftSection{
    height: 700px;
    width: 810px;
    margin: 20px 0 0 15%;
    float: left;
}

#leftSectionMain{
    width: 680px;
    height: 360px;
}

#leftSectionAlts{
    width: 570px;
    height: 160px;
    margin-left: 150px;
    margin-top: 20px;
}

button.slick-prev.slick-arrow {
    position: absolute;
    bottom: 70;
    left: -70px;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: -43px;
    bottom: 70px;
}

.altViews{
    width: 160px;
    height: 160px;
    margin: 0 18px;
    float: left;
}

#rightSection{
    width: 580px;
    height: 900px;
    border: 2px solid black;
    float: left;
    float: left;
    margin: 20px 0 0 50px;
}

#rightSectionTitle{
    width: 100%;
    height: 120px;
    font-size: 29px;
    line-height: 120px;
    text-align: center;
}

#rightSectionContent{
    width: 100%;
    text-align: justify;
    padding: 1%;
}

/* Media Queries */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
