@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body { font-family: "Open Sans", sans-serif !important; margin: 0; font-size: 14px !important; line-height: 1.5 !important; color: #333; }

a:hover, a:focus { text-decoration: none; }

h3, h4 { margin-top: 1.5em !important; }

#canvasarea{
	width: 1200px;
	height: 600px;
}
#iconeoptions, #iconereset, #iconeupload{
	z-index: 5;
	position: absolute;
	cursor: pointer;
}
#menucontextuel{
	position: absolute;
	z-index: 10;
	width: 240px;
	display: none;
	overflow-y: auto;
	max-height: 340px;
}
#menuoptions, #menuupload{
	position: absolute;
	z-index: 10;
	display: none;
	background-color: #eee;
	border: 2px solid #ddd;
	padding: 30px;
	overflow-y: scroll;
}
#menuoptions{
	width: 600px;
	height: 100px;
}
#menuupload{
	width: 600px;
	height: 400px;
}
#optionsAccepter, #optionsAnnuler, #uploadAccepter, #uploadAnnuler{
	margin-top: 30px;
	margin-bottom: 30px;
}
#menucontextuel ul{
	list-style-type: none;
	padding: 0;
}
#menucontextuel ul li{
	border: 1px solid rgb(210,210,210);
	padding: 2px;
	padding-left:30px;
	font-size: 0.85em;
	background-color: rgb(240,240,240);
}
#menucontextuel ul li:hover{
	background-color: rgb(144,200,246);
	cursor: pointer;
}
button, input[type=submit]{
	border-radius: 4px;
	padding: 10px 24px;
	background-color: #cece99;
	color: black;
}
