/* Main navigation menu */
#topNavMenu {
    width: 100%;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#topNavContent {
    width: 640px;
    margin: 0 33%;
}

.topNavElement {
    width: 25%;
    text-transform: uppercase;
    font-size: 18px;
    float: left;
    line-height: 60px;
    text-align: center;
}

.items {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

#slider {
position: relative;\
top:300px;
left:300px;
}

/* .altImages{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    /*background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;*/
} */

.mainImage {
    max-height: 100%;
    max-width: 100%;
    width: 680px;
}

#rightSectionTitle{
  text-align: left;
}



@media screen and (min-width: 30rem) {
  body {
    background-color: white;
  }

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px)
{
    body {
    background-color: white;
  }
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px)
{
    body {
    background-color: white;
  }
}
  
  .row > .column {
  padding: 01px;
  }
  
  .row:after {
  content: "";
  display: table;
  clear: both;
  }
  
  .column {
  float: left;
  width: 10%;
  }
  
  /* The Modal (background) */
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  }
  
  .mySlides {
  display: none;
  }
  
  .cursor {
  cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
  right: 0;
  border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  img {
  margin-bottom: -4px;
  }
  
  .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  }
  
  .demo {
  opacity: 0.6;
  }
  
  .active,
  .demo:hover {
  opacity: 1;
  }
  
  img.hover-shadow {
  transition: 0.3s;
  }
  
  .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }