<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- javascript -->
		<script type="text/javascript" src="../javascript/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../javascript/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../javascript/Master.js"></script>
		<script type="text/javascript" src="../javascript/slick.js"></script>
		<script type="text/javascript" src="../javascript/Modal_Image_Gallery.js"></script>
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
		<link rel="stylesheet" type="text/css" href="../css/master.css">
		<link rel="stylesheet" type="text/css" href="../css/Summary.css">
		<link rel="stylesheet" type="text/css" href="../css/slick.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">

	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<body>
		<div id="mainTitle">
			RNAFamViz
		</div>
		<div class="topnav" id="myTopnav">
			<a href="Summary.phtml">SUMMARY</a>
			<a href="../RNAFamViz_Manuel_Utilisation.pdf" target="_blank">MANUAL</a>
			<a href="https://depot.cobius.usherbrooke.ca/cobius/CoBIUSWeb">DOWNLOAD</a>
			<a href="../../WebApp/html/ApplicationMaster.php" target="_blank">WEBSERVER</a>
			<!-- <a href="Contact.phtml">ABOUT</a> -->
  			<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
		</div>
		<div id="mainContent">
			<div id="leftSection">
				<div id="leftSectionMain">
					<img class="mainImage" src="../images/dendromini.png" />
				</div>

				<div class="row">
					<div class="column">
						<img src="../images/inputpanel.png" style="width:30%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
					</div>
					<div class="column">
						<img src="../images/listmenu.png" style="width:30%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
					</div>
					<div class="column">
						<img src="../images/nodedetails.png" style="width:30%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
					</div>
					<div class="column">
						<img src="../images/types.png" style="width:30%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
					</div>
					<div class="column">
						<img src="../images/btns.png" style="width:30%" onclick="openModal();currentSlide(5)" class="hover-shadow cursor">
					</div>
				</div>

				<div id="myModal" class="modal">
					<span class="close cursor" onclick="closeModal()">&times;</span>
					<div class="modal-content">

						<div class="mySlides">
							<div class="numbertext">1 / 5</div>
							<img src="../images/inputpanel.png" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">2 / 5</div>
							<img src="../images/listmenu.png" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">3 / 5</div>
							<img src="../images/nodedetails.png" style="width:100%">
						</div>
						
						<div class="mySlides">
							<div class="numbertext">4 / 5</div>
							<img src="../images/types.png" style="width:100%">
						</div>

						<div class="mySlides">
							<div class="numbertext">5 / 5</div>
							<img src="../images/btns.png" style="width:100%">
						</div>
						
						<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
						<a class="next" onclick="plusSlides(1)">&#10095;</a>

						<div class="caption-container">
						<p id="caption"></p>
						</div>


						<div class="column">
							<img class="demo cursor" src="../images/inputpanel.png" style="width:50%" onclick="currentSlide(1)" alt="RNA input">
						</div>
						<div class="column">
							<img class="demo cursor" src="../images/listmenu.png" style="width:50%" onclick="currentSlide(2)" alt="Sequence List">
						</div>
						<div class="column">
							<img class="demo cursor" src="../images/nodedetails.png" style="width:50%" onclick="currentSlide(3)" alt="Select buttons">
						</div>
						<div class="column">
							<img class="demo cursor" src="../images/types.png" style="width:50%" onclick="currentSlide(4)" alt="Selected Nodes">
						</div>
						<div class="column">
							<img class="demo cursor" src="../images/btns.png" style="width:50%" onclick="currentSlide(5)" alt="Analysis type and Motif threshold">
						</div>
					</div>
				</div>
			</div>
			<div id="rightSection">
				<div id="rightSectionTitle">
					<!-- RNAFamViz base functions -->
					Main Features
				</div>
				<div id="rightSectionContent">
					<div class="subTitleLeft">Add sequences:</div>
						To add a sequence you need to click the "Add sequence" button is the top left corner of the main application screen.
						Sequences must be in the arc-annotated format: first line starts with > and following is the sequence header. Next line is the RNA Sequence and then the secondary structure inforamtion. 
						You can add multitude sequences at the same time. The sequences will be added to the list in the side menu.
					<div class="subTitleLeft">Delete sequences:</div>
						To delete sequences, you can click on those you want deleted and click the "Delete selected" button to remove them. If you want to clear the whole list, the button "Delete all" will do it.
						The buttons "Select All" and "Unselect All" are used to make this easier when working with multiple sequences.
					<div class="subTitleLeft">Launch analysis:</div>
						Clicking on the "Launch Analysis" button will send all the sequences in the list to be analysed. A dendrogram will be produced and shown in the program's main view panel. You can relaunch 
						a new analysis with different sequences by changing the list and reclicking the button, this will overwrite the previously shown reuslt. 
					<div class="subTitleLeft">Show nodes and leaves details:</div>
						To show nodes and leaves details such as percentage, variance or score analysis, simply click on the circle node on the side of a node's  name. The informations will show in the bottom left
						corner of the screen. Leaves have green names and node have red names. 

				</div>
			</div>
			<!--div class="footer">&copy; Copyright 2018 All rights reserved. <strong>CoBIUS</strong>.</div-->
		<div class="footer">&copy; Copyright 2018 All rights reserved. <strong>CoBIUS</strong>.</div>
	</body>
</html>
